# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry
# Data Processing & Analysis
sqlalchemy
sqlalchemy-databricks
databricks-sql-connector
pandas
umap-learn
hdbscan
toml

# Visualization
matplotlib
seaborn
plotly

# Web Interface
streamlit>=1.41.0
streamlit-option-menu

# Cloud & Infrastructure
databricks-sdk
databricks-sql-connector
azure-functions
azure-storage-blob
requests

#API part
fastapi
uvicorn
pydantic
joblib
scikit-learn>=1.3.0,<1.6.0
category_encoders
mlflow