# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry
# Data Processing & Analysis
pandas
numpy
scipy

# Visualization
matplotlib
seaborn
plotly

# Web Interface
streamlit>=1.41.0
streamlit-option-menu

# Cloud & Infrastructure
databricks-sdk
databricks-sql-connector
azure-functions
azure-storage-blob
requests