name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ] 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:

#can do this fun tghing called {{matrix.os}} and this will allow you to then test your code on multiple enviorments which is super interesting 
    #when using playwright to install which is something that I might be doing in the future it would be a good idea to use npm install insetad of the other thing 

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
      - name: Install Dependencies 
        run: |
          python -m pip install --upgrade pip
          # Use the flag here in the command, not in the requirements file
          pip install --prefer-binary -r requirements.txt
          pip install pytest httpx
      - name: Retrain Model from new Hive data
        run: |
          # 1. Ensure Python can find the 'app' module for imports
          export PYTHONPATH="${PYTHONPATH}:${GITHUB_WORKSPACE}"
          
          # 2. Point to the CORRECT path (app/scripts/train.py)
          python -u "app/scripts/train.py"
        env:
          DB_TOKEN: ${{ secrets.DB_TOKEN }}
          DB_SERVER_HOSTNAME: ${{ secrets.DB_SERVERHOSTNAME }}
          DB_HTTP_PATH: ${{ secrets.DB_HTTP_PATH }}
      - name: Unit Tests and Model tests 
        run: pytest app/tests/
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm64 
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/xbox_cluster_analysis:latest
          cache-from: type=gha 
          cache-to: type=gha,mode=max

      - name: Update ECS Service
        run: |
          aws ecs update-service --cluster default --service xbox_cluster_analysis --force-new-deployment
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-2

